<section class="banner" id="download">
    <div class="container">
        <div class="banner__content">
            <div class="banner__info" data-animate="fade-right">
                <h2 class="banner__title">
                    EasySplitter is available for iOS and Android.
                </h2>
                <p class="banner__text">
                    Download EasySplitter vocal remover app for free. Application is fully synchronized with the web
                    version, this allows you to remove vocals from any song in both mobile and web ways. Splitting
                    attempts can be purchased only in the web version.
                </p>
                <div class="banner__buttons">
                    <a href="#" class="banner__btn">
                        <img src="images/banner/apple.svg" alt="Apple logo" width="24" height="24" />
                        <span>
                            Available on the <span>App Store</span>
                        </span>
                    </a>
                    <a href="#" class="banner__btn">
                        <img src="images/banner/play-store.svg" alt="Google Play logo" width="24" height="24" />
                        <span>
                            Android App on <span>Google Play</span>
                        </span>
                    </a>
                </div>
            </div>

            <picture class="banner__picture" data-animate="fade-left">
                <source srcset="images/banner/phone.avif" type="image/avif">
                <source srcset="images/banner/phone.webp" type="image/webp">
                <img src="images/banner/phone.png" alt="EasySplitter mobile app" class="banner__image" loading="lazy">
            </picture>
        </div>
    </div>
</section>
