<footer class="footer">
    <div class="container">

        <div class="footer__top">
            <div class="footer__brand">
                <div class="footer__logo">Easy<br>Splitter</div>
                <p class="footer__copy">
                    &copy; 2024 EasySplitter. All Rights Reserved.
                </p>
            </div>
        </div>

        <div class="footer__divider"></div>

        <div class="footer__bottom">

            <div class="footer__socials">
                <a href="#" class="footer__social" aria-label="Facebook">
                    <img src="images/footer/facebook.svg" alt="" width="18" height="18" loading="lazy">
                </a>
                <a href="#" class="footer__social" aria-label="Twitter">
                    <img src="images/footer/twitter.svg" alt="" width="18" height="18" loading="lazy">
                </a>
            </div>

            <div class="footer__contacts">
                <a href="tel:+380974813909" class="footer__contact">
                    <img src="images/footer/phone.svg" alt="" width="16" height="16" loading="lazy"> +38097 48 13 909
                </a>
                <a href="mailto:hello@easysplitter.com" class="footer__contact">
                    <img src="images/footer/mail.svg" alt="" width="16" height="16" loading="lazy"> hello@easysplitter.com
                </a>
            </div>

        </div>

    </div>
</footer>
