<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title" data-animate="fade-up">
                AI-Based Vocal Remover Online for DJ Singers
            </h1>

            <p class="hero__text" data-animate="fade-up" data-delay="1">
                EasySplitter is the most innovative technology in the music industry. Just upload the track and remove
                vocals from a song, get 4 separated music versions - Vocal, Instrumental, Bass and Drums.
            </p>

            <div class="hero__actions" data-animate="fade-up" data-delay="2">
                <a href="#download" class="button button--white">Start for Free</a>
                <a href="#how-it-works" class="button button--transparent">Learn more</a>
            </div>

            <picture class="hero__picture" data-animate="fade-up" data-delay="3">
                <source srcset="images/hero/hero-desktop.avif" type="image/avif">
                <source srcset="images/hero/hero-desktop.webp" type="image/webp">
                <img src="images/hero/hero-desktop.png" alt="EasySplitter APP" class="hero__image" fetchpriority="high">
            </picture>
        </div>
    </div>
</section>
